# Config file for automatic testing at travis-ci.org

sudo: required

dist: trusty

language: cpp

cache : 
  directories:
    - $HOME/.cache/pip

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

services:
  - docker

env:
  global:
    - PYP_ADD="/usr/local/lib/python2.7/dist-packages:/usr/local/lib/python2.7/site-packages"  
    
addons:
  apt:
    sources:
      - boost-latest
      - ubuntu-toolchain-r-test
    packages:
      - automake 
      - bison 
      - cmake 
      - doxygen                              
      - ethtool                              
      - flex 
      - g++ 
      - git                                  
      - ipython                              
      - ipython-notebook                     
      - libany-moose-perl                    
      - libboost-dev 
      - libboost-filesystem-dev 
      - libboost-program-options-dev 
      - libboost-system-dev 
      - libboost-test-dev 
      - libboost-thread-dev 
      - libbsd-dev                           
      - libbz2-dev                           
      - libedit-dev                          
      - libevent-dev 
      - libffi-dev 
      - libfreetype6-dev                     
      - libgmp-dev 
      - libhiredis-dev                       
      - libjudy-dev 
      - libnl-route-3-dev                   
      - libpcap-dev 
      - libpng-dev                           
      - libssl-dev 
      - libtool 
      - libyaml-0-2                          
      - mktemp 
      - openssl                              
      - pkg-config 
      - python-dev 
      - python-dpkt                          
      - python-imaging-tk                    
      - python-jsonpickle                    
      - python-matplotlib                    
      - python-nose python-numpy            
      - python-pandas                        
      - python-pip
      - python-pygraph                       
      - python-pygraphviz                    
      - python-scipy                         
      - python-setuptools                    
      - python-sympy                         
      - python-yaml                          
      - redis-server                         
      - thrift-compiler                      
      - wireshark

before_install:
  - sudo pip install --upgrade pip
  - sudo pip install --upgrade thrift
  - wget https://s3-us-west-2.amazonaws.com/p4lang/thrift_bin.tar.gz
  - tar -xzvf thrift_bin.tar.gz -C $HOME/
  - export PATH=$PATH:$HOME/thrift/bin/
  - export LDFLAGS="$LDFLAGS -L$HOME/thrift/lib"
  - export CPPFLAGS="$CPPFLAGS -I$HOME/thrift/include"
  - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$HOME/thrift/lib
  - sudo ldconfig
  - sudo pip install ctypesgen
  - sudo apt-get remove python-scapy
  - git clone https://github.com/p4lang/scapy-vxlan.git && cd scapy-vxlan && sudo python setup.py install && cd ..
  - sudo ldconfig
  - export PYTHONPATH=$PYP_ADD:$PYTHONPATH
  - bash CI/travis/pull_modules.sh
  - cd CI/travis/ && make -f Makefile.bmv2 driver-switchlink

install:
  - cd /home/travis/build/p4lang/ntf/CI/travis/ && git clone git://github.com/mininet/mininet && cd mininet
  - git checkout -b 2.2.1 2.2.1 && util/install.sh -fnv
  - cd ..

# command to run tests, e.g. python setup.py test
script:
  - cd /home/travis/build/p4lang/ntf/makefiles && make -f docker.mk base-docker-image
  - cd /home/travis/build/p4lang/ntf/makefiles && make -f docker.mk bmv2-docker-image
  - docker images | grep p4dockerswitch_bmv2
  - cd /home/travis/build/p4lang/ntf/tools
  - sudo ./veth_setup.sh
  - cd /home/travis/build/p4lang/ntf/mininet && sudo ./int_ref_topology.py
